<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.automotive" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <queries>
        <package android:name="com.android.car.media" />
        <package android:name="com.google.android.apps.automotive.templates.host" />
        <intent>
            <action android:name="android.car.intent.action.MEDIA_TEMPLATE" />
        </intent>
        <intent>
            <action android:name="androidx.car.app.mediaextensions.action.MEDIA_TEMPLATE_V2" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:appCategory="audio"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbsAaos"
        tools:targetApi="tiramisu">

        <meta-data
            android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="androidx.car.app.TintableAttributionIcon"
            android:resource="@drawable/ic_attribution_icon" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings_title"
            android:theme="@style/Theme.AbsAaos">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <service
            android:name=".media3.ShelfDriveMediaLibraryService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:icon="@drawable/ic_app_icon"
            android:label="@string/app_name"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media3.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".artwork.ArtworkContentProvider"
            android:authorities="${applicationId}.artwork"
            android:exported="true"
            android:grantUriPermissions="false"
            tools:ignore="ExportedContentProvider" />
    </application>

</manifest>
